@model IndexVM

<div class="hero-area">
    <div class="hero-area-wrapper hero-slider-dots fix-slider-dots">

        <div class="hero-area-single">
            <div class="hero-area-bg">
                <img class="hero-img" src="~/images/slider_images/home/home_slider_1.jpg" alt="">
            </div>
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-md-8 col-xl-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-area-single">
            <div class="hero-area-bg">
                <img class="hero-img" src="~/images/slider_images/home/home_slider_2.jpg" alt="">
            </div>
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-md-8 col-xl-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="product-tab-section section-top-gap-100">

        <div class="section-content-gap">
            <div class="container">
                <div class="row">
                    <div class="section-content d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column">
                        <h3 class="section-title">Новые поступления</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-tab-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content tab-animate-zoom">
                            <div class="tab-pane show active" id="car_and_drive">
                                <div class="product-default-slider product-default-slider-4grids-1row">


                                    @foreach (var item in Model.Products)
                                    {
                                        <div class="product-default-single border-around">
                                            <div class="product-img-warp">
                                                <a href="@Url.Action("ShowProduct","Shopping",item)" class="product-default-img-link">
                                                    <img src="@item.Pictures?.FirstOrDefault()?.Path" alt="" class="product-default-img img-fluid">
                                                </a>
                                                <div class="product-action-icon-link">
                                                    <ul>
                                                        <li><a href="@Url.Action("ShowProduct","Shopping",item)"><i class="icon-eye"></i></a></li>
                                                        <li><a href="@Url.Action("AddToBasket","Shopping",new AddToBasketVM {  CategoryId = (int)item.CategoryId, ProductId = item.Id})"><i class="icon-shopping-cart"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-default-content">
                                                <h6 class="product-default-link"><a href="@Url.Action("ShowProduct","Shopping",item)">@item.Name</a></h6>
                                                <span class="product-default-price"> @item.Price ₽</span>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div> 