<button class="material-scrolltop" type="button"></button>

<div id="mobile-menu-offcanvas" class="offcanvas offcanvas-leftside offcanvas-mobile-menu-section">

    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="fa fa-times"></i></button>
    </div>

    <div class="offcanvas-mobile-menu-wrapper">

        <div class="mobile-menu-top">
            <span>Магазин комплектующих для компьютера</span>

        </div>

        <div class="mobile-menu-center">
            <div class="mobile-menu-customer-support">
                <div class="mobile-menu-customer-support-icon">
                    <img src="~/images/icon/support-icon.png" alt="">
                </div>
                <div class="mobile-menu-customer-support-text">
                    <span>Связаться со мной</span>
                    <a class="mobile-menu-customer-support-text-phone" href="tel:+79321199925">(932) 119 99 25</a>
                </div>
            </div>

            <ul class="mobile-action-icon">

                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="mobile-action-icon-item">
                        <a href="/Account/Login" class="mobile-action-icon-link">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="mobile-action-icon-item">
                        <a href="/Shopping/ShowBasket" class="mobile-action-icon-link">
                            <i class="icon-shopping-cart"></i>
                            <span class="header-action-icon-item-count">@ViewData["AmountBasket"]</span>
                        </a>
                    </li>
                    <li class="mobile-action-icon-item">
                        @if (User.IsInRole("user"))
                        {
                            <a href="/User/MyAccount" class="mobile-action-icon-link" style="box-sizing: content-box; ">
                                @User.Claims.Last().Value
                            </a>
                        }
                        else if (User.IsInRole("admin"))
                        {
                            <a href="/Admin/AdminAccount" class="mobile-action-icon-link" style="box-sizing: content-box; ">
                                @User.Claims.Last().Value
                            </a>
                        }
                        else if (User.IsInRole("superuser"))
                        {
                            <a href="/Admin/AdminAccount" class="mobile-action-icon-link" style="box-sizing: content-box; ">
                                @User.Claims.Last().Value
                            </a>
                        }
                        else { }


                    </li>
                    <li class="mobile-action-icon-item">
                        <a href="#" id="yourLinkId" class="mobile-action-icon-link">
                            <i class="icon-arrow-right-circle"></i>
                        </a>
                    </li>
                }
            </ul>
            <script>
                document.getElementById("yourLinkId").onclick = function () {
                    document.getElementById("yourFormId").submit();
                }
            </script>
        </div>

        <div class="mobile-menu-bottom">

            <div class="offcanvas-menu">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li>
                        <a href="#"><span>Купить</span></a>
                        <ul class="mobile-sub-menu">
                            @foreach (var categoryVM in IndexMenuVM.Categorys)
                            {
                                @if (categoryVM.OnSale == true)
                                {
                                    <li class="mega-menu-item">
                                        <a href="@Url.Action("ShowProducts","Shopping",categoryVM)" class="mega-menu-item-title">@categoryVM.Name</a>
                                        <ul class="mega-menu-sub">
                                            @foreach (var item in categoryVM.InverseCategoryNavigation)
                                            {
                                                @if (item.OnSale == true)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("ShowProducts","Shopping",item)">@item.Name</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li><a href="/Home/Сontacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>