@model AdminVM
@{
    int i = 1;

    int prI = 1;
    int prA = 0;

    int cI = 1;
    int cA = 0;

    int chI = 1;
    int chA = 0;

    int piI = 1;
    int piA = 0;

    int purI = 1;
    int purA = 0;

    int usI = 1;
    int usA = 0;

    int moI = 1;
    int moA = 0;

}
@using System.Globalization;

<input id="inputliShow" hidden value="@Model.Status" />
<form id="formId" method="post" asp-controller="Account" asp-action="Logout">
</form>
<div class="account_dashboard mt-10">
    <div class="container" style="max-width: 1800px;">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">

                <div class="dashboard_tab_button">
                    <ul id="ulActive" role="tablist" class="nav flex-column dashboard-list">
                        <li> <a href="#shops" data-toggle="tab" class="nav-link active">Покупки</a></li>
                        <li><a href="#account-details" data-toggle="tab" class="nav-link">Данные учетной записи</a></li>
                        <hr />
                        <li><a href="#products" id="productsId" data-toggle="tab" class="nav-link">Товары</a></li>
                        <li><a href="#сategories" id="сategoriesId" data-toggle="tab" class="nav-link">Категории</a></li>
                        <li><a href="#characteristic" id="characteristicId" data-toggle="tab" class="nav-link">Характеристики</a></li>
                        <li><a href="#picture" id="pictureId" data-toggle="tab" class="nav-link">Картинки</a></li>
                        <li><a href="#purchaseHistory" id="purchaseHistoryId" data-toggle="tab" class="nav-link">История покупок</a></li>
                        <li><a href="#user" id="userId" data-toggle="tab" class="nav-link">Пользователи</a></li>
                        <li><a href="#monitorDatabase" id="monitorDatabaseId" data-toggle="tab" class="nav-link">Изменение базы</a></li>
                        <hr />
                        <li><a href="#" id="linkId" class="nav-link">Выйти</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">

                <div class="tab-content dashboard_content">
                    <div class="tab-pane fade show active" id="shops">
                        <h4>Покупки</h4>
                        <div class="table_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Дата</th>
                                        <th>Товар</th>
                                        <th>Всего</th>
                                        <th>Показать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserPurchaseHistories)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.DatePurchase.ToString("D")</td>
                                            <td><span class="success">@item.Product.Name</span></td>
                                            <td>@Model.GetPrice(item.AmountProduct, item.Product.Price) ₽ за @item.AmountProduct товар </td>
                                            <td><a href="@Url.Action("ShowProduct","Shopping",item.Product)" class="view">Перейти</a></td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details">
                        <h3>Данные учетной записи</h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form method="get" asp-action="EditAccount" asp-controller="User">
                                        <div class="default-form-box mb-20">
                                            <span asp-validation-for="User.LastName" class="val"></span>
                                            <label>Фамилия <span>*</span></label>
                                            <input type="text" asp-for="User.LastName" name="LastName" placeholder="Фамилия" autofocus="">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <span asp-validation-for="User.FirstName" class="val"></span>
                                            <label>Имя <span>*</span></label>
                                            <input type="text" asp-for="User.FirstName" name="FirstName" placeholder="Имя">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <span asp-validation-for="User.Email" class="val"></span>
                                            <label>Email <span>*</span></label>
                                            <input type="email" asp-for="User.Email" name="Email" placeholder="Email">

                                        </div>
                                        <div class="default-form-box mb-20">
                                            <span asp-validation-for="User.Phone" class="val"></span>
                                            <label>Телефон <span>*</span></label>
                                            <input type="tel" asp-for="User.Phone" name="Phone" placeholder="+71112223344">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <span asp-validation-for="User.Password" class="val"></span>
                                            <label>Пароль <span>*</span></label>
                                            <input type="password" asp-for="User.Password" name="Password">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <span asp-validation-for="@Model.User.PasswordConfirm" class="val"></span>
                                            <label>Подтвердить пароль <span>*</span></label>
                                            <input type="password" asp-for="@Model.User.PasswordConfirm" name="PasswordConfirm">
                                        </div>
                                        <div class="save_button primary_btn default_button">
                                            <button type="submit">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade " id="products">
                        <h4>Товары</h4>

                        <div class="table_page">
                            <form asp-action="EditProduct" asp-controller="Admin">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Цена</th>
                                            <th>Рейтинг</th>
                                            <th>Категория</th>
                                            <th>Статус</th>
                                            <th>Описание</th>
                                            <th>Характеристики</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" autocomplete="off" required class="table-input-text input-selected" name="Name">
                                            </td>
                                            <td><input type="text" autocomplete="off" required class="table-input-text" name="Price"></td>
                                            <td><input type="text" autocomplete="off" required class="table-input-text" name="Rating"></td>
                                            <td>
                                                <select required class="select-f" readonly name="CategoryId">
                                                    @foreach (var category in Model.ProductCategories)
                                                    {
                                                        <option class="select-option-f" value="@category.Id">@category.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required class="select-f" readonly name="OnSale">

                                                    <option class="select-option-f" value="true">Виден</option>
                                                    <option class="select-option-f" value="false">Скрыт</option>

                                                </select>
                                            </td>
                                            <td><input type="text" autocomplete="off" class="table-input-text" name="Description"></td>
                                            <td>
                                                <div class="__select">
                                                    <div class="__select__content" id="divChec-Add">
                                                        @for (int a = 0; a < Model.Characteristics.Count; a++)
                                                        {
                                                            <input id="singleSelect-i-@a-@prI" class="__select__input" type="checkbox" onchange="checkboxOnch(this)" name="ProductCharacteristics[@i]" value="@Model.Characteristics[a].Id" />
                                                            <label for="singleSelect-i-@a-@prI" class="__select__label">@Model.Characteristics[a].Name</label>

                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="btn-tb" id="addInput" type="submit" value="Добавить" />
                                            </td>
                                        </tr>
                                </table>
                            </form>
                        </div>

                        <div class="table_page " style="overflow-x: auto;height: 800px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Название</th>
                                        <th>Цена</th>
                                        <th>Рейтинг</th>
                                        <th>Категория</th>
                                        <th>Статус</th>
                                        <th>Описание</th>
                                        <th>Характеристики</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                        <form asp-action="EditProduct" asp-controller="Admin">
                                        <tr id="trId-@prA">
                                            <td>@prI</td>
                                            <td>
                                                <input hidden name="Id" value="@item.Id" />
                                                <input type="text" autocomplete="off" required readonly class="table-input-text" name="Name" value="@item.Name">
                                            </td>
                                            <td><input type="text" autocomplete="off" required readonly class="table-input-text" name="Price" value="@item.Price"></td>

                                            <td><input type="number" autocomplete="off" min="1" max="10" required readonly class="table-input-text" name="Rating" value="@item.Rating"></td>
                                            <td>
                                                <select required disabled class="select-f" name="CategoryId" asp-for="Products[prA].CategoryId">
                                                    @foreach (var category in Model.ProductCategories)
                                                    {
                                                        <option class="" value="@category.Id">@category.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required disabled class="select-f" readonly name="OnSale" asp-for="Products[prA].OnSale">

                                                    <option class="select-option-f" value="@bool.TrueString">Виден</option>
                                                    <option class="select-option-f" value="@bool.FalseString">Скрыт</option>

                                                </select>
                                            </td>
                                            <td><input type="text" autocomplete="off" readonly class="table-input-text" name="Description" value="@item.Description"></td>
                                            <td>
                                                <div class="__select">
                                                    <div class="__select__content" id="divChec-@prI">
                                                        @for (int a = 0; a < Model.Characteristics.Count; a++)
                                                        {
                                                            @if (item.ProductCharacteristics.Any(c => c == Model.Characteristics[a].Id))
                                                            {

                                                                <input disabled id="singleSelect-@prI-@a" class="__select__input" type="checkbox" onchange="checkboxOnch(this)" name="ProductCharacteristics[@i]" value="@Model.Characteristics[a].Id" checked />
                                                                <label for="singleSelect-@prI-@a" class="__select__label">@Model.Characteristics[a].Name</label>

                                                            }
                                                            else
                                                            {
                                                                <input disabled id="singleSelect-@prI-@a" class="__select__input" type="checkbox" onchange="checkboxOnch(this)" name="ProductCharacteristics[@i]" value="@Model.Characteristics[a].Id" />
                                                                <label for="singleSelect-@prI-@a" class="__select__label">@Model.Characteristics[a].Name</label>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                                                <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                                            </td>
                                        </tr>
                                        </form>
                                        prI++;
                                        prA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane fade " id="сategories">
                        <h4>Товары</h4>

                        <div class="table_page">
                            <form asp-action="EditCategory" asp-controller="Admin">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Родитель</th>
                                            <th>Статус</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" autocomplete="off" required class="table-input-text input-selected" name="Name">
                                            </td>
                                            <td>
                                                <select required class="select-f" readonly name="CategoryId">
                                                    <option class="select-option-f">Нет</option>
                                                    @foreach (var category in Model.ParentCategories)
                                                    {
                                                        <option class="select-option-f" value="@category.Id">@category.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required class="select-f" readonly name="OnSale">

                                                    <option class="select-option-f" value="true">Виден</option>
                                                    <option class="select-option-f" value="false">Скрыт</option>

                                                </select>
                                            </td>
                                            <td>
                                                <input class="btn-tb" type="submit" value="Добавить" />
                                            </td>
                                        </tr>
                                </table>
                            </form>
                        </div>

                        <div class="table_page " style="overflow-x: auto;height: 400px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Название</th>
                                        <th>Родитель</th>
                                        <th>Статус</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <form asp-action="EditCategory" asp-controller="Admin">
                                        <tr id="trCatId-@cA">
                                            <td>@cI</td>
                                            <td>
                                                <input hidden name="Id" value="@item.Id" />
                                                <input type="text" autocomplete="off" required readonly class="table-input-text" name="Name" value="@item.Name">
                                            </td>
                                            <td>
                                                <select required disabled class="select-f" name="CategoryId" asp-for="Categories[cA].CategoryId">
                                                    <option class="" value="0">Нет</option>
                                                    @foreach (var category in Model.ParentCategories)
                                                    {
                                                        <option class="" value="@category.Id">@category.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required disabled class="select-f" readonly name="OnSale" asp-for="Categories[cA].OnSale">

                                                    <option class="select-option-f" value="@bool.TrueString">Виден</option>
                                                    <option class="select-option-f" value="@bool.FalseString">Скрыт</option>

                                                </select>
                                            </td>

                                            <td>
                                                <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                                                <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                                            </td>
                                        </tr>
                                        </form>
                                        cI++;
                                        cA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane fade " id="characteristic">
                        <h4>Характеристики</h4>

                        <div class="table_page">
                            <form asp-action="EditCharacteristic" asp-controller="Admin">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Значение</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input hidden name="Id" />
                                                <input type="text" autocomplete="off" required class="table-input-text" name="Name">
                                            </td>
                                            <td><input type="text" autocomplete="off" required class="table-input-text" name="Value"></td>
                                            <td>
                                                <input class="btn-tb" type="submit" value="Добавить" />
                                            </td>
                                        </tr>

                                </table>
                            </form>
                        </div>

                        <div class="table_page " style="overflow-x: auto;height: 400px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Название</th>
                                        <th>Описание</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Characteristics)
                                    {
                                        <form asp-action="EditCharacteristic" asp-controller="Admin">
                                        <tr id="trCatId-@chA">
                                            <td>@chI</td>
                                            <td>
                                                <input hidden name="Id" value="@item.Id" />
                                                <input type="text" autocomplete="off" required readonly class="table-input-text" name="Name" value="@item.Name">
                                            </td>
                                            <td><input type="text" autocomplete="off" readonly class="table-input-text" name="Value" value="@item.Value"></td>
                                            <td>
                                                <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                                                <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                                            </td>
                                            <td>
                                                <a class="btn-tb" href="@Url.Action("RemoveCharacteristic","Admin",item)">Удалить</a>
                                            </td>
                                        </tr>
                                        </form>
                                        chI++;
                                        chA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane fade " id="picture">
                        <h4>Картинки</h4>

                        <div class="table_page">
                            <form asp-action="EditPicture" asp-controller="Admin">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Путь</th>
                                            <th>Продукт</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input hidden name="Id" />
                                                <input type="text" autocomplete="off" required class="table-input-text" name="Name">
                                            </td>
                                            <td><input type="text" autocomplete="off" required class="table-input-text" name="Path"></td>
                                            <td>
                                                <select required class="select-f" readonly name="ProductId">
                                                    <option class="select-option-f">Нет</option>
                                                    @foreach (var product in Model.Products)
                                                    {
                                                        <option class="select-option-f" value="@product.Id">@product.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input class="btn-tb" type="submit" value="Добавить" />
                                            </td>
                                        </tr>

                                </table>
                            </form>
                        </div>

                        <div class="table_page " style="overflow-x: auto;height: 400px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Название</th>
                                        <th>Путь</th>
                                        <th>Продукт</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Pictures)
                                    {
                                        <form asp-action="EditPicture" asp-controller="Admin">
                                        <tr id="trCatId-@piA">
                                            <td>@piI</td>
                                            <td>
                                                <input hidden name="Id" value="@item.Id" />
                                                <input type="text" autocomplete="off" required readonly class="table-input-text" name="Name" value="@item.Name">
                                            </td>
                                            <td><input type="text" autocomplete="off" readonly class="table-input-text" name="Path" value="@item.Path"></td>
                                            <td>
                                                <select required disabled class="select-f" readonly name="ProductId" asp-for="Pictures[piA].ProductId">
                                                    @foreach (var products in Model.Products)
                                                    {
                                                        <option class="select-option-f" value="@products.Id">@products.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                                                <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                                            </td>
                                            <td>
                                                <a class="btn-tb" href="@Url.Action("RemovePicture","Admin",item)">Удалить</a>
                                            </td>
                                        </tr>
                                        </form>
                                        piI++;
                                        piA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane fade " id="purchaseHistory">
                        <h4>История покупок</h4>

                        <div class="table_page">
                            <form asp-action="EditPurchaseHistory" asp-controller="Admin">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Клиент</th>
                                            <th>Продукт</th>
                                            <th>Количество</th>
                                            <th>Дата покупки</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select required class="select-f" readonly name="UserId">
                                                    @foreach (var user in Model.Users)
                                                    {
                                                        <option class="select-option-f" value="@user.Id">@user.LastName @user.FirstName</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required class="select-f" readonly name="ProductId">
                                                    @foreach (var products in Model.Products)
                                                    {
                                                        <option class="select-option-f" value="@products.Id">@products.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" autocomplete="off" required class="table-input-text" name="AmountProduct">
                                            </td>
                                            <td><input type="date" autocomplete="off" required class="table-input-text" name="DatePurchase"></td>
                                            <td>
                                                <input class="btn-tb" type="submit" value="Добавить" />
                                            </td>
                                        </tr>

                                </table>
                            </form>
                        </div>

                        <div class="table_page " style="overflow-x: auto;height: 400px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Клиент</th>
                                        <th>Продукт</th>
                                        <th>Количество</th>
                                        <th>Дата покупки</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PurchaseHistories)
                                    {
                                        <form asp-action="EditPurchaseHistory" asp-controller="Admin">
                                        <tr id="trPurId-@purA">
                                            <td>@purI</td>
                                            <td>
                                                <input hidden name="Id" value="@item.Id" />
                                                <select required disabled class="select-f" readonly name="UserId" asp-for="PurchaseHistories[purA].UserId">
                                                    @foreach (var user in Model.Users)
                                                    {
                                                        <option class="select-option-f" value="@user.Id">@user.LastName @user.FirstName</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required disabled class="select-f" readonly name="ProductId" asp-for="PurchaseHistories[purA].ProductId">
                                                    @foreach (var products in Model.Products)
                                                    {
                                                        <option class="select-option-f" value="@products.Id">@products.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" autocomplete="off" required readonly class="table-input-text" name="AmountProduct" value="@item.AmountProduct">
                                            </td>
                                            <td><input type="date" autocomplete="off" required readonly class="table-input-text" name="DatePurchase" value="@item.DatePurchase.ToString("yyyy-MM-dd")"></td>

                                            <td>
                                                <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                                                <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                                            </td>
                                            <td>
                                                <a class="btn-tb" href="@Url.Action("RemovePurchaseHistory","Admin",item)">Удалить</a>
                                            </td>
                                        </tr>
                                        </form>
                                        purI++;
                                        purA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane fade " id="user">
                        <h4>Пользователи</h4>

                        <div class="table_page">
                            <form asp-action="EditUser" asp-controller="Admin">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                            <th>Почта</th>
                                            <th>Пароль</th>
                                            <th>Телефон</th>
                                            <th>Дата регистрации</th>
                                            <th>Роль</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" autocomplete="off" required class="table-input-text" name="LastName">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" required class="table-input-text" name="FirstName">
                                            </td>
                                            <td>
                                                <input type="email" autocomplete="off" required class="table-input-text" name="Email">
                                            </td>
                                            <td>
                                                <input type="password" autocomplete="off" required class="table-input-text" name="Password">
                                            </td>
                                            <td>
                                                <input type="tel" autocomplete="off" required class="table-input-text" name="Phone">
                                            </td>
                                            <td><input type="date" autocomplete="off" required class="table-input-text" name="RegistrationDate"></td>
                                            <td>
                                                <select required class="select-f" readonly name="RoleId">
                                                    @foreach (var role in Model.Roles)
                                                    {
                                                        <option class="select-option-f" value="@role.Id">@role.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input class="btn-tb" type="submit" value="Добавить" />
                                            </td>
                                        </tr>

                                </table>
                            </form>
                        </div>

                        <div class="table_page " style="overflow-x: auto;height: 400px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Почта</th>
                                        <th>Пароль</th>
                                        <th>Телефон</th>
                                        <th>Дата регистрации</th>
                                        <th>Роль</th>
                                        <th>Статус</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <form asp-action="EditUser" asp-controller="Admin">
                                        <tr id="trUsrId-@usA">
                                            <td>@usI</td>
                                            <td>
                                                <input hidden name="Id" value="@item.Id" />
                                                <input type="text" autocomplete="off" required readonly class="table-input-text" name="LastName" value="@item.LastName">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" required readonly class="table-input-text" name="FirstName" value="@item.FirstName">
                                            </td>
                                            <td>
                                                <input type="email" autocomplete="off" required readonly class="table-input-text" name="Email" value="@item.Email">
                                            </td>
                                            <td>
                                                <input type="password" autocomplete="off" required readonly class="table-input-text" name="Password" value="@item.Password">
                                            </td>
                                            <td>
                                                <input type="tel" autocomplete="off" required readonly class="table-input-text" name="Phone" value="@item.Phone">
                                            </td>
                                            <td><input type="date" autocomplete="off" required readonly class="table-input-text" name="RegistrationDate" value="@item.RegistrationDate.ToString("yyyy-MM-dd")"></td>
                                            <td>
                                                <select required disabled class="select-f" readonly name="RoleId" asp-for="Users[usA].RoleId">
                                                    @foreach (var role in Model.Roles)
                                                    {
                                                        <option class="select-option-f" value="@role.Id">@role.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select required class="select-f" readonly name="OnSale" asp-for="Users[usA].OnSale">

                                                    <option class="select-option-f" value="true">Виден</option>
                                                    <option class="select-option-f" value="false">Скрыт</option>

                                                </select>
                                            </td>
                                            <td>
                                                <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                                                <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                                            </td>
                                        </tr>
                                        </form>
                                        usI++;
                                        usA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane fade " id="monitorDatabase">
                        <h4>Изменение базы</h4>

                        <div class="table_page " style="overflow-x: auto;height: 400px;">

                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Имя хоста</th>
                                        <th>Имя пользователя</th>
                                        <th>Операция</th>
                                        <th>Таблица</th>
                                        <th>Колонка</th>
                                        <th>Id записи</th>
                                        <th>Старое значение</th>
                                        <th>Новое значение</th>
                                        <th>Дата</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MonitorDatabases)
                                    {
                                        <form asp-action="EditUser" asp-controller="Admin">
                                        <tr id="trMoId-@moA">
                                            <td>@moI</td>

                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="Hostname" value="@item.Hostname">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="NtUsername" value="@item.NtUsername">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="NameOperation" value="@item.NameOperation">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="NameTable" value="@item.NameTable">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="NameColumns" value="@item.NameColumns">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="IdRecord" value="@item.IdRecord">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="OldRecord" value="@item.OldRecord">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="NewRecord" value="@item.NewRecord">
                                            </td>
                                            <td>
                                                <input type="text" autocomplete="off" class="table-input-text" name="NewRecord" value="@item.DataModificationRecord">
                                            </td>
                                        </tr>
                                        </form>
                                        moI++;
                                        moA++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById("linkId").onclick = function () {
        document.getElementById("formId").submit();
    }


</script>
