@model EditCharacteristicVM
@{ 
    int chI = 1;
    int chA = 0;
    Layout = "_LayoutAdmin";
}

<div class="tab-pane fade show active" id="characteristic">
    <h4>Характеристики</h4>

    <div class="table_page">
        <form asp-action="EditCharacteristic" asp-controller="Admin">
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Значение</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input hidden name="Id" />
                            <input type="text" autocomplete="off" required class="table-input-text" name="Name">
                        </td>
                        <td><input type="text" autocomplete="off" required class="table-input-text" name="Value"></td>
                        <td>
                            <input class="btn-tb" type="submit" value="Добавить" />
                        </td>
                    </tr>

            </table>
        </form>
    </div>

    <div class="table_page " style="overflow-x: auto;height: 400px;">

        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Characteristics)
                {
                    <form asp-action="EditCharacteristic" asp-controller="Admin">
                    <tr id="trСhaId-@chA">
                        <td>@chI</td>
                        <td>
                            <input hidden name="Id" value="@item.Id" />
                            <input type="text" autocomplete="off" required readonly class="table-input-text" name="Name" value="@item.Name">
                        </td>
                        <td><input type="text" autocomplete="off" readonly class="table-input-text" name="Value" value="@item.Value"></td>
                        <td>
                            <input class="btn-tb" type="button" name="edit" onclick="Edit(this)" value="Редактировать" />
                            <input class="btn-tb" name="save" type="submit" onclick="Save(this)" style="display: none" value="Сохранить" />
                        </td>
                        <td>
                            <a class="btn-tb" href="@Url.Action("RemoveCharacteristic","Admin",item)">Удалить</a>
                        </td>
                    </tr>
                    </form>
                    chI++;
                    chA++;
                }
            </tbody>
        </table>

    </div>

</div>

<script>
    let ulActiveAs = document.getElementById("ulActive").getElementsByTagName("a");

    for (var item of ulActiveAs) {
        if (item.id == 'characteristicId') {
            item.classList.add("active");
        }
    }

</script>